:root {
  --primary-major: #ff69b4;
  --primary-minor: #ffddf4;  /* or ffb3de */
  --secondary-major: #989898;
  --secondary-minor: #dcdcdc;
  --background-color: #ffffff;
}
body {
  margin: 0;
  background-color: var(--background-color);
}
.primaryLink {
  text-decoration: none;
  color: var(--primary-major);
}
.primaryLink:hover, .primaryLink:active {
  color: var(--primary-minor);
}
.secondaryLink {
	text-decoration: none;
	color: var(--secondary-major);
}
.secondaryLink:hover, .secondaryLink:active {
	color: var(--secondary-minor);
}
#settingsDiv {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
}
#firstRowDiv p {
  text-align: center;
  font: 1.5em helvetica, sans-serif;
  color: var(--primary-major);
  margin-bottom: 0;
}
#firstRowDiv input {
  width: 100%;
  border: 0;
  border-bottom: thin solid var(--primary-major);
  font: 3em monospace;
  color: var(--secondary-major);
  caret-color: var(--primary-major);
}
#firstRowDiv input:focus {
  outline: none;
}
#firstRowDiv input::placeholder {
  color: var(--secondary-minor);
}
#secondRowDiv {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: normal;
  justify-items: center;
}
#methodDiv {
  display: flex;
  flex-direction: column;
}
#periodDiv {
  display: none;
  flex-direction: column;
}
#methodDiv p, #periodDiv p {
  font: 1.2em verdana, sans-serif;
  color: var(--primary-major);
}
#methodDiv label, #periodDiv label {
  font: 1em verdana, sans-serif;
  color: var(--secondary-major);
}
#methodDiv label:hover, #periodDiv label:hover {
  cursor: pointer;
}
#methodDiv input, #periodDiv input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--secondary-minor);
  width: 1em;
  height: 1em;
  border-radius: 1em;
  margin-right: .5em;
  cursor: pointer;     
  outline: none;
}
#methodDiv input:checked, #periodDiv input:checked {
  background-color: var(--primary-major);
}
#methodDiv input:hover, #periodDiv input:hover {
  background-color: var(--primary-minor);
}
#durationShuffleDiv {
  display: flex;
  flex-direction: column;
  font: 1em verdana, sans-serif;
  color: var(--secondary-major);
}
#durationShuffleDiv #slideDuration {
  width: 2em;
  border: 0;
  border-bottom: thin solid var(--secondary-major);
  font: 1.5em monospace;
  color: var(--primary-major);
  caret-color: var(--primary-major);
}
#durationShuffleDiv #slideDuration:focus {
  outline: none;
}
#durationShuffleDiv label:hover {
  cursor: pointer;
}
#durationShuffleDiv label {
  position: relative;
}
#durationShuffleDiv #shuffleSubreddits {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--secondary-minor);
  width: 1em;
  height: 1em;
  border-radius: 1em;
  margin-right: 0;
  margin-bottom: 0;
  cursor: pointer;     
  outline: none;
}
#durationShuffleDiv #shuffleSubreddits:checked {
  background-color: var(--primary-major);
}
#durationShuffleDiv #shuffleSubreddits:hover {
  background-color: var(--primary-minor);
}
#thirdRowDiv p {
  text-align: center;
  font: 1em helvetica, sans-serif;
  color: var(--secondary-minor);
}